*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: Arial;
    margin: 10px;
}

.container1{
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
    border: none;
    margin-bottom: 16px;
}

.firstname{
    display: flex;
    flex-direction: column;
    border: none;
}

.lastname{
    display: flex;
    flex-direction: column;
    border: none;
}
label{
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}

input{
    width: 500px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}
.container2{
    margin-bottom: 16px;
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
    border: none;
}
.address{
    display: flex;
    flex-direction: column;
    border: none;
}

.address2{
    display: flex;
    flex-direction: column;
    border: none;
}
label{
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}

input{
    width: 500px;
    height: 50px;
    padding: 10px;
}

.container3{
    margin-bottom: 16px;
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
    border: none;
}
.select{
    border: none;
    
}

.option{
    height: 50px;
    padding: 10px;
    width: 200px;
}

.courseinput{
    width: 800px;
}
.coursetype{
    border: none;
}
select{
    width: 400px;
} 

.container4{
    margin-bottom: 16px;
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
    border: none;
}

.zipcode{
    display: flex;
    flex-direction: column;
    border: none;
}

.phone{
    display: flex;
    flex-direction: column;
    border: none;
}
label{
    width: 300px;
    height: 25px;
    margin-bottom: 5px;
}

input{
    width: 500px;
    height: 50px;
    padding: 10px;
}
.container5{
    margin-bottom: 16px;
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
    border: none;
}
textarea{
    width: 1032px;
    padding: 10px;
    margin-bottom: 5px;
}
.container6{
    margin-bottom: 16px;
    display:block;
    /* justify-content: center; */
    gap: 2rem;
    border: none;
}

.createaccount{
   display: flex;
    border: none;
    gap: .5rem;
}
.dateofbirth{
    display: flex;
    border: none;
    gap: .5rem;
}
.one{
    width: 15px;

}

.ok{
    margin-top: 16px;
}

button{
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
h1, h3{
    color: blue;
}